frontend/node_modules/
frontend/dist/
.env
*.env
!*.env.example
*.log

# Backend & Runtime
backend/target/
backend/.env
*.pid
*.jar.original
backend/runtime/
node_modules/
runtime/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Maven Wrapper cache
.mvn/wrapper/dists/
backend/.mvn/wrapper/dists/
*.zip

